body {
  margin-top: 50px; /* 헤더와 컨텐츠 사이의 간격을 조정 */
}

.nanum-gothic-coding-regular {
  background-color: black;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* 헤더를 고정 */
  top: 0; /* 상단에 고정 */
  /*left: 0;*/
  width: 100%; /* 가로 폭 100% */
  z-index: 1000; /* 다른 요소 위에 헤더가 나타나도록 설정 */
}

.nanum-gothic-coding-regular ul {
  display: flex;
  list-style-type: none;
  margin: 20px;
  padding: 0;
  justify-content: flex-end; /* 수정된 부분 */
  align-items: center; /* 추가된 부분 */
}

.nanum-gothic-coding-regular li {
  margin-left: 50px;
  font-size: 20px;
}

.nanum-gothic-coding-regular a {
  color: aliceblue;
  text-decoration: none; /* 링크에 밑줄 제거 */
}

/* 추가된 CSS: a:hover 스타일 설정 (마우스를 올렸을 때) */
.nanum-gothic-coding-regular a:hover {
  color: green; /* 마우스를 올렸을 때 색상 변경 */
}

hr {
  color: aliceblue;
  z-index: 1000;
  position: fixed;
  /*top: 50px; !* 헤더의 높이만큼 여백을 주어 헤더 아래에 고정 *!*/
  /*left: 0;*/
  width: 100%;
  /*border: none;*/
  /*border-top: 1px solid #ccc;*/
  margin: 0;
}